footer {
  background: var(--color-primary);
  padding-top: 8rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 -1rem 1.5rem
  hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

footer .nav__menu {
  justify-content: center;  
}

.footer__socials {
  width: fit-content;
  display: flex;
  gap: 1.5rem;
  margin: 3rem auto 4rem;
}

.footer__socials a {  
  width: 1.8rem;
  aspect-ratio: 1/1;  /* When width change, height also change */
  background: var(--color-black);  
  color: var(--color-white);
  display: grid;
  place-items: center;
  border-radius: var(--border-radius-3);

}

.footer__socials a:hover {
  opacity: 0.7;
  transform: translateY(-0.5rem);
}